# Bu dosyayı kopyalayıp ".env" adıyla kaydedin ve değerleri doldurun.
# .env dosyası git'e eklenmez (güvenli).

EMAIL_HOST_USER=kilaguzelektrik@gmail.com
EMAIL_HOST_PASSWORD=buraya16haneliuygulamasifresi
ORDER_NOTIFICATION_EMAIL=kilaguzelektrik@gmail.com
